<form  [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    <label>Title:</label>
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
  

    <label>Author:</label>
    
    <input formControlName="author" type="text" />
  
    <label>Content:</label>
    <textarea formControlName="content"></textarea>
  
    <label>Upvotes:</label>
    <input formControlName="upvotes" type="number" />

    <label>Downvotes:</label>
    <input formControlName="downvotes" type="number" />
  
    <button type="submit">Add Blog</button>
  </form>