<form  [formGroup]="blogForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
  

      <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput formControlName="author">
      </mat-form-field>
    
    
      <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        
        <textarea matInput formControlName="content"></textarea>
      </mat-form-field>
  
    
      <mat-form-field appearance="fill">
        <mat-label>Upvotes</mat-label>
        
        <input matInput formControlName="upvotes" type="number" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Downvotes</mat-label>
        
        <input matInput formControlName="downvotes" type="number" />
      </mat-form-field>
  
  
    <button  mat-raised-button type="submit" color="accent">Add Blog</button>
  </form>